<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tone Analysis</title>
</head>
<body style="font-family: sans-serif; margin: 15px;">
<h1>Tone Analysis</h1>
<table>
    <tr>
        <td>
            <img src="http://img.freepik.com/free-icon/angry-emoticon-square-face_318-58619.jpg?size=338&ext=jpg" alt="anger" height="40" width="40">
            <p style="font-family: sans-serif; margin: 0">Anger</p>
        </td>
        <td style="padding-left: 20px;">
            <div style="border: 1px solid black; height: 50px; width: 400px">
                <div style="background-color: black; height: 100%; width: {{anger}}%"></div>
            </div>
        </td>
        <td style="padding-left: 20px;">
            {{anger}}%
        </td>
    </tr>

    <tr>
        <td>
            <img src="https://image.freepik.com/free-icon/disgusted-emoticon-square-face_318-58620.jpg" alt="disgust" height="40" width="40">
            <p style="font-family: sans-serif; margin: 0">Disgust</p>
        </td>
        <td style="padding-left: 20px;">
            <div style="border: 1px solid black; height: 50px; width: 400px">
                <div style="background-color: black; height: 100%; width: {{disgust}}%"></div>
            </div>
        </td>
        <td style="padding-left: 20px;">
            {{disgust}}%
        </td>
    </tr>

    <tr>
        <td>
            <img src="https://image.freepik.com/free-icon/sad-emoticon-square-face_318-58601.jpg" alt="sadness" height="40" width="40">
            <p style="font-family: sans-serif; margin: 0">Sadness</p>
        </td>
        <td style="padding-left: 20px;">
            <div style="border: 1px solid black; height: 50px; width: 400px">
                <div style="background-color: black; height: 100%; width: {{sadness}}%"></div>
            </div>
        </td>
        <td style="padding-left: 20px;">
            {{sadness}}%
        </td>
    </tr>

</table>
</body>
</html>